<div align='center'><h1>The Ramen Noodle Bowl</h1></div>

<!-- <router-outlet></router-outlet>  -->
<span class="logo" routerLink="/order"></span>
<div class="top-banner">
  <table class="table" style="width: 50%">
    <tr>
      <div class="col-6" style="border: 2px solid black">
      <div class="orders-heading"><h4>Orders:</h4></div>
      </div>
    </tr>
    <tr *ngFor="let order of orders">
      <td>
        {{order.orderSize}}
      </td>
      <td>
        {{order.specialRequest}}
      </td>
      <td>
        {{order.foodDescription}}
      </td>
      <td>
        {{order.name}}
      </td>
      <td>
        {{order.addToFavorites}}
      </td>
    </tr>
  </table>
</div>
<div>
  <p>
    <button (click)="getOrders"> My Orders </button>
  </p> 
</div>

<div class="col-6" style="border: 2px solid black">
  
  <app-order-form></app-order-form>
</div>
<!-- <router-outlet></router-outlet> -->
