<header class="clearfix">
  <div class="container">
    <div class="header-left">
      <h1>The Ramen Noodle Bowl</h1>
    </div>
    <div class="header-right">
      <label for="open">
        <span class="hidden-desktop"></span>
      </label>
      <input type="checkbox" name="" id="open" />
      <nav>
        <a href="#">Home</a>
        <a href="#">Our Locations</a>
        <a href="#">About</a>
        <a href="#">Contact Us</a>
        <img
          src="https://img.freepik.com/free-vector/ramen-noodle-japanese-food-flat_123553-338.jpg"
          class="head-img"
        />
      </nav>
    </div>
  </div>
</header>

<app-orders></app-orders>
