<!-- <div align='center'><h1>The Ramen Noodle Bowl</h1></div> -->

<div>
    <tr>
      <th>Order_Size</th>
      <th>specialRequest</th>
      <th>favoriteDescription</th>
      <th>name</th>
      <th></th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>
        {order.}}
      </td>
      <td>
        {{order.}}
      </td>
      <td>
        {{order.}}
      </td>
      <td>
        {{order.}}
      </td>
    </tr>
  </table>
</div>
<div>
  <p>
    <button (click)="addOrder()"> Start an Order </button>
  </p>
</div>
<router-outlet></router-outlet>