

<h1>Cancelled Order</h1>
<div *ngIf="orders">
  <div class="order">
    <div *ngFor="let ord of orders; index as i;">
        <h1>Cancelled Order</h1>
      <a routerLink="cancel"></a>
      <h2>{{ ord.name }}</h2>
      <h2>{{ ord.id }}</h2>
    <!-- <h2>{{ order.orderSize }}</h2> -->
    <h2>{{ ord.specialRequest }}</h2>
    </div>
  </div>
</div>


    <!-- <div *ngIf="order">
      <div class="order">
        <div *ngFor="let ord of order; i">
            <h1>Cancelled Order</h1>
          <a routerLink="/cancel"></a>
          <h2>{{ ord.name }}</h2>
          <h2>{{ ord.id }}</h2>
          <!-- <h2>{{ order.orderSize }}</h2> -->
          <!-- <h2>{{ ord.specialRequest }}</h2> 
        </div>
      </div>
    </div> --> 
  
      <!-- <ng-container *ngFor="let order of orders"></ng-container>

<div class="col-5" style="border: 2px solid black">
  <h1 class="head">Start an Order</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Noodle Bowls</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter noodle bowl">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Size</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="i.e. small">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Special Request</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="i.e. extra noodles">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Add to Favorites</label>
  </div>
  <div class="btn-toolbar">
  <button (click)="createUser() "type="submit" class="btn btn-primary">Place Order</button>
  <br>
  <button (click)="getAllOrders() "type="submit" class="btn btn-primary">Checkout</button>
  <br>
  <button (click)="deleteOrder(orderId) "type="submit" class="btn btn-primary">Delete Order</button>
</div>
</form>
 <div class="col-md-6 user-container">
    <h2 class="text-center">Place Order</h2>
    <form [formGroup]= "" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="size">size:</label>
        <input type="text" formControlName="size" placeholder="size" name="size" class="form-control"
               id="size">
      </div>
      <br/> 
 
      <div class="form-group">
        <label for="request">request:</label>
        <input type="text" formControlName="request" placeholder="request" name="request" class="form-control"
               id="request">
      </div>
  
      <br/>
   
      <button class="btn btn-success">Start an Order</button>
    </form>
    </div>  -->


