<div class="col-md-6 user-container">
    <h2 class="text-center">Place Order</h2>
    <form [formGroup]= "addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="size">size:</label>
        <input type="text" formControlName="size" placeholder="size" name="size" class="form-control"
               id="size">
      </div>
      <br/>
  
      <div class="form-group">
        <label for="request">request:</label>
        <input type="text" formControlName="request" placeholder="request" name="request" class="form-control"
               id="request">
      </div>
  
      <br/>
   
      <button class="btn btn-success">Start an Order</button>
    </form>

